.partners__swiper {
  padding: 4em 2em;
}
.partners__swiper__content__heading {
  font-weight: 700;
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
  max-width: 100%;
  margin-bottom: 1em;
}
.partner__swiper__logos {
  width: 100%;
  height: 100%;
}
