.sale__container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  padding-bottom: 1em;
}
.sale__container__box {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--whiteShadow);
  box-shadow: var(--shadow);
  border-radius: 10px;
  padding: 1.5em 2em 2em;
  gap: 1em;
  height: fit-content;
}
.sale__container__box__heading {
  display: flex;
  font-size: 18px;
  font-weight: bold;
  color: var(--blue);
  padding: 0 0 0.7em;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5em;
}
.sale__container__box__details {
  display: flex;
  flex-wrap: wrap;
  gap: 1.3em;
}
